#!/usr/bin/make -f

SHELL := /bin/bash

version := $(shell dpkg-parsechangelog | grep Version:)
version := $(shell echo $(version) | perl -pe 's/^Version:\s+//o')
build_cpu := $(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU)


%:
	dh $@

override_dh_testdir:
	dh_testdir stalin.sc

override_dh_auto_build:
	ln -sf debian/prebuilt-src/stalin-arch-amd64.c .
	ln -sf debian/prebuilt-src/stalin-arch-i386.c .
	ln -sf debian/prebuilt-src/stalin-arch-ia64.c .
	ln -sf debian/prebuilt-src/stalin-arch-sparc.c .

        ifeq ($(build_cpu),amd64)
	  CC_OPTIMIZATION="-g -O0" ./build
        else
	  CC_OPTIMIZATION="-g -O2" ./build
        endif

	./build-gl-fpi

        # Tests
	rm -rf debian/tmp-test
	mkdir debian/tmp-test
	echo '(display "hello") (newline)' > debian/tmp-test/hello.scm
	cd debian/tmp-test && $(CURDIR)/stalin -On hello.scm
	test -x debian/tmp-test/hello
	test $$(debian/tmp-test/hello) = "hello"

        # These don't work on all debian platforms yet.
        #cd benchmarks && ./compile-and-run-stalin-old-benchmarks

override_dh_auto_install:
	rm -rf debian/stalin
	install -d debian/stalin

        # Binaries
	install -d debian/stalin/usr/bin
	cp debian/stalin-script debian/stalin/usr/bin/stalin

        # libs (some of these should be in share, but stalin doesn't make the
        # distinction ATM)
	install -d debian/stalin/usr/lib/stalin
	cp -r include/* debian/stalin/usr/lib/stalin
	install -s include/stalin debian/stalin/usr/lib/stalin/

	dh_auto_install

override_dh_clean:
	dh_clean
	rm -rf debian/tmp-test stalin-arch-{amd64,i386,ia64,sparc}.c

# Local variables:
# mode: makefile
# End:
