#!/usr/bin/make -f

SHELL := /bin/bash

version := $(shell dpkg-parsechangelog | grep Version:)
version := $(shell echo $(version) | perl -pe 's/^Version:\s+//o')
build_cpu := $(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU)


dh_targets=binary binary-arch binary-indep build build-arch build-indep clean install

$(dh_targets) %:
	dh $@ --parallel

.PHONY: $(dh_targets)

override_dh_auto_build:
	CC_OPTIMIZATION="-g -O2" ./build
	./build-gl-fpi

        # Tests
	rm -rf debian/tmp-test
	mkdir debian/tmp-test
	echo '(display "hello") (newline)' > debian/tmp-test/hello.scm
	cd debian/tmp-test && $(CURDIR)/stalin -On hello.scm
	test -x debian/tmp-test/hello
	test $$(debian/tmp-test/hello) = "hello"

        # These don't work on all debian platforms yet.
        #cd benchmarks && ./compile-and-run-stalin-old-benchmarks
